h1 {
   font-family: 'Sniglet', cursive;
   font-size: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 80px;
   margin-bottom: 70px;
   text-shadow: 5px 5px 5px #d3d3d3;
}

body {
  background-image: url(../img/Circuit-imprimé24.svg);
  background-size: cover;
}

header #cd-logo img {
  height: 50px;
  margin-bottom: 3em;
}

header {
  position: relative;
  height: 100px;
  text-align: center;
  margin-bottom: 1em;
  padding-top: 3em;
}

.container-card {
  width: 100vw;
  height: 100vh;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-card .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-card .card {
  background-color: #f8f1e6;
  padding: 33px;
  border-radius: 15px;
  border-width: 4px;
  border-style: solid;
  border-color: #f47172;
}

.card {
  width: 80vh;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-header {
  height: 150px;
  width: 150px;
  padding-bottom: 50px;
}

.card-header img {
  height: 150px;
  transition: all 1s ease;
  border-radius: 100px;
  object-fit: cover;
}

.card:hover img {
  transform: scale(1.3);
}

.card-body {
  margin: 5px;
  font-family:'PT Serif', serif;
  text-align: center;
  background-color: #fff;
  color: #000000;
  border-radius: 15px;
  width: 250px;
  margin-top: 5%;
}

.card-body .description {
  padding: 50px 10px;
}

.card-body .reseaux-sociaux ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-body .reseaux-sociaux a {
  color: #4267b2;
}

.card-body .reseaux-sociaux ul li {
  margin: 10px;
}

@media only screen and (min-width: 768px) {

  body {
    background-image: url(../img/Circuit-imprimé24.svg);
    background-size: cover;
  }

  .container-card {
    width: 100vw;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-family: 'Sniglet', cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 70px;
  }
  
  .card {
    width: 100vh;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-top: 20px;
  }

  .card-header {
    height: 120px;
    width: 120px;
    padding-top: 0px;
  }

  .card-header img {
    height: 120px;
    border-radius: 100px;
  }

  .card-body {
    padding: 30px 10px;
    width: 50%;
  }
}


@media only screen and (min-width: 1200px) {

  body {
    background-image: url(../img/Circuit-imprimé21.svg);
    background-size: cover;
  }

  .container-card {
    width: 100vw;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-family: 'Sniglet', cursive;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  
  .card {
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
  }

  .card-header {
    height: 250px;
    width: 250px;
    padding-bottom: 0px;
  }

  .card-header img {
    height: 250px;
    border-radius: 200px;
  }

  .card-body {
    padding: 30px 50px;
    width: 50%;
  }
}

@media screen and (max-height: 500px) {
  .container-card .card {
    margin-top: 150px;
  }
}

